input {
    width: 270px;
    height: 40px;
    font-size: 24px;
    margin: 3px;
}



.todo-list-box {
    width: 98%;
    height: 400px;
    padding: 3px;
    padding-top: 35px;
}

.todo-para {
    font-size: 22px;
    color: red;
}

.remove-btn {
    background-color: transparent;
    border: 0;
    border: 1px solid red;
    width: 25px;
}

.todo-box {
    display:flex;
    justify-content:space-around;
    padding:5px 0px;
    background-color:lightgrey;
}